<?php
  define('DBUSER', 'dyn');
  define('DBPASS', 'dyn');
  define('DBNAME', 'dyn);

  define('CPANELHOST', 'cpanel.host.tld');
  define('CPANELPORT', '2083');
  define('CPANELUSER', 'cpanel');
  define('CPANELTOKEN', 'token');

  define('ROOTDOMAIN', 'maindomain.tld');

  define('TTS_REGION', 'westus');
  define('TTS_KEY', 'XXXXXXXXXXXXXXXXX');
?>